#root {
  background-color: #efefef;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.countryButton {
  width: 150px;
  margin: 5px 10px;
  border-radius: 6px;
  background-color: #50c878;
}

.countryButton p {
  padding: 0;
  margin: 0;
}

.countryImg {
  max-height: 100px;
  margin-left: 10px;
}
